# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. JAVA
4. Keras
5. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. SciPy
3. Pandas
4. PyTorch
5. SciKit-Learn

# Data Science Tools Table

|Data Science Tools|
|------------------|
|Apache Spark|
|Julia|
|Jupyter Notebook|

### Below are a few examples of evaluating arithmetic expressions in Python.

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60.

In [5]:
minutes=int(input("minutes="))
hours= minutes//60
print("hours=",hours)

minutes= 200

hours= 3